.navContainer {
  position: relative;
}

.navbar {
  background-color: rgba(105, 6, 151, 0.555);
  /* background-color: #486683; */
  /* background-color: #00bfb2; */
  /* background: transparent; */
  /* position: absolute; */
  /* z-index: 4; */
}

.links a {
  font-size: 18px;
  font-weight: 500;
}

.headerText {
  margin: 0;
  font-size: 35px;
  /* color: #002345; */
  /* color: #ffffff; */
}

.logOutBtn {
  font-size: 18px;
  font-weight: 500;
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.55);
}
