.navContainer {
  position: relative;
}

.navbar {
  background-color: #336e8a1f;
}
.navLinks {
  margin: 0px;
  color: #336f8a;
  font-size: 18px;
  font-weight: 500;
}

.headerText {
  margin: 0;
  font-size: 35px;
  color: #336f8a;
}

.logOutBtn {
  font-size: 18px;
  font-weight: 500;
  background: none;
  border: none;
  color: #336f8a;
}
