.serviceHeader {
  /* color: rgba(105, 6, 151, 0.555); */
  color: #336f8a;
  text-align: center;
}

.servicesContainer {
  margin-top: 65px;
}

.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 45px;
  margin: 65px 120px;
  justify-content: center;
}

@media only screen and (max-width: 576px) {
  .services {
    grid-template-columns: 1fr;
  }
}
