/* .bannerImage {
  background-image: url("../../../images//banner//banner.png");
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
} */

.bannerImage {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bannerImage::before {
  content: "";
  background-image: url("../../../images//banner//banner-2.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.bannerContent {
  /* text-align: center; */
  position: absolute;
  top: 50%;
  left: 33%;
  transform: translate(-50%, -50%);
  color: white;
  width: 40%;
}

.bannerContent h1 {
  font-size: 80px;
  line-height: 90%;
}

.bannerContent p {
  margin-top: 25px;
  font-size: 25px;
  line-height: 120%;
  margin-bottom: 24px;
}

.bannerContent button {
  border: 0px;
  background: none;
  color: white;
  font-size: 30px;
  border: 2px solid rgba(105, 6, 151, 0.829);
  border-radius: 5px;
  background-color: rgba(105, 6, 151, 0.233);
}

.bannerContent button:hover {
  background-color: rgba(105, 6, 151, 0.548);
}

@media only screen and (max-width: 576px) {
  .bannerContent {
    width: 80%;
    left: 50%;
  }
  .bannerContent h1 {
    font-size: 60px;
  }
  .bannerContent p {
    font-size: 20px;
  }
  .bannerContent button {
    font-size: 25px;
  }
}
