/* .formLogo {
  width: 200px;
  margin-bottom: 30px;
} */

.inputs input {
  display: block;
  width: 300px;
  height: 40px;
  padding: 0px 10px;
  border: 0;
  margin-bottom: 15px;
  border-radius: 4px;
}

.inputs input:not([type="submit"]) {
  background-color: rgb(231, 231, 231);
}

.submitButton {
  background-color: rgba(105, 6, 151, 0.479);
  color: white;
  font-size: 14px;
  font-weight: 500;
}

.form {
  width: max-content;
  padding: 20px 20px;
}
.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
}

.formToggleBtn {
  display: block;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  color: gray;
  text-align: center;
}

.formHeader {
  text-align: center;
  margin-bottom: 20px;
  color: rgba(105, 6, 151, 0.685);
}
